p{
	font-family: sans-serif;
	font-size: 12px;
	font-style: italic;
}

h1{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.imageleft{
	align: left;
	margin-left: 0;
}

.imageright{
	align: right;
	margin-right: 0;
}

.textleft{
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

.textright{
	text-align: right;
	margin-right: 0;
	margin-right: 0;
}

